<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Sarabun&display=swap" rel="stylesheet">
    <title>Transcript</title>

    <style>
        .container{
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            font-size: 18px;
            line-height: 50px;
            letter-spacing: .5px;
            font-family: 'Sarabun', sans-serif;
            padding-bottom: 50px;
        }
    </style>
</head>
<body style="width: 100%; height: 100vh; overflow-x: hidden;">
    <h1>Transcript: </h1>
    <div class="container">
        <%= transcript %>
    </div>
</body>
</html>